{% extends 'newsHome/mainTemplate.html' %}


{% block 'body_style' %}staticTreesBack{% endblock %}
{% block 'subtitle' %}News From Across The RPG Community{% endblock %}


{% block 'body' %}

    <div class="articles-wrapper infinite-container">
        {% for article in articles %}
            <div class="article-wrapper infinite-item{% if articles.number > 1 %} opacity-zero{% endif %}">
              <a class="articleLink" href="{{ article.MessageAttributes.link.StringValue }}" target="_blank">
                  {% if None != article.MessageAttributes.image %}
                    <img id="image" alt="article image" class="article-img"
                         src="{{ article.MessageAttributes.image.StringValue }}" />
                  {% endif %} {{ window.screen.height }}
                  <div class="mid-wrapper">
                    <div class="inner-wrapper" >
                      <h2 class="titleWrapper" >
                          {{ article.MessageAttributes.title.StringValue }}
                      </h2>
                      <div class="subTitleWrapper" >
                          {{ article.MessageAttributes.website.StringValue }}
                          ({{ article.MessageAttributes.captured_date.StringValue }})</div>
                      <div class="summaryWrapper" >{{ article.Body }}</div>
                    </div>
                  </div>
                  <div class="ten-px-spacer"></div>
              </a>
            </div>
        {% endfor %}
    </div>

    {% if articles.has_next %}
        <a class="infinite-more-link" href="?article_number={{ articles.next_page_number }}">More</a>
    {% endif %}

    <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0]
    });
    </script>

{% endblock %}
