{% extends 'newsHome/mainTemplate.html' %}


{% block 'body_style' %}staticTreesBack{% endblock %}
{% block 'subtitle' %}News From Across The RPG Community{% endblock %}


{% block 'body' %}

    <div class="articles-wrapper infinite-container">
        {% for article in articles %}
            <div class="article-wrapper infinite-item{% if 'article_timestamp' in request.GET %} opacity-zero{% endif %}">
              <a class="articleLink" href="{{ articlelink }}" target="_blank">
                  {% if None != article.image %}
                    <img id="image" alt="article image" class="article-img"
                         src="{{ article.image }}" />
                  {% endif %} {{ window.screen.height }}
                  <div class="mid-wrapper">
                    <div class="inner-wrapper" >
                      <h2 class="titleWrapper" >
                          {{ article.title }}
                      </h2>
                      <div class="subTitleWrapper" >
                          {{ article.website }}
                          ({{ article.captured_date }})</div>
                      <div class="summaryWrapper" >{{ article.body }}</div>
                    </div>
                  </div>
                  <div class="ten-px-spacer"></div>
              </a>
            </div>
        {% endfor %}
    </div>

    {% if last_timestamp != -1 %}
        <a class="infinite-more-link" href="?article_timestamp={{ last_timestamp }}"><div class="infinite-more-div">Loading...</div></a>
    {% endif %}

    <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0]
    });
    </script>

{% endblock %}
